:root {
    --vp-c-brand-1: #17d3da;
    --vp-c-brand-2: #13bcc2;
    --vp-c-brand-3: #0f939c;
    --vp-c-brand-4: #075055;
    --vp-c-brand-5: #15c588;
    --vp-c-brand-6: #0f9c6b;
    --vp-c-brand-soft: #1affec80;
    --vp-c-brand-soft-2: #1fffb080;
    --vp-c-code-text-1: #0d8158;
  }

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: #FFFFFF;
    --vp-button-brand-bg: var(--vp-c-brand-5);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: #FFFFFF;
    --vp-button-brand-hover-bg: var(--vp-c-brand-6);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: #FFFFFF;
    --vp-button-brand-active-bg: var(--vp-c-brand-5);
  }

:root {
    --vp-c-tip-1: #dfdfd6;
    --vp-c-tip-2: var(--vp-c-brand-5);
    --vp-c-tip-3: var(--vp-c-brand-6);
    --vp-c-tip-soft: var(--vp-c-brand-soft-2);
}

:root {
    --vp-local-search-result-border: var(--vp-c-brand-4);
    --vp-local-search-result-selected-border: var(--vp-c-brand-3);
    --vp-local-search-highlight-bg: var(--vp-c-brand-2);
}

:root {
    --vp-code-color: var(--vp-c-code-text-1);
    --vp-code-link-color: var(--vp-c-brand-5);
    --vp-code-link-hover-color: var(--vp-c-brand-6);
}

.dark {
    --vp-c-gutter: #333333;
  }

.VPFooter {
  color: transparent;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  }