:root {
    --vp-c-brand-1: #17d3da;
    --vp-c-brand-2: #15c588;
    --vp-c-brand-3: #0f9c6b;
    --vp-c-brand-soft: #1affec7c;
  }

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: #FFFFFF;
    --vp-button-brand-bg: var(--vp-c-brand-2);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: #FFFFFF;
    --vp-button-brand-hover-bg: var(--vp-c-brand-3);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: #FFFFFF;
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
  }
  